## .NET Core y Build
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/

appsettings.Development.json
appsettings.*.json
!.gitkeep
*.env
*.user
*.userosscache
*.sln.docstates

## IDEs (VS Code, Visual Studio, Rider)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.vs/
*.suo
*.userprefs

## NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

## Tests & Logs
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.binlog
CodeCoverage/
*.VisualState.xml
TestResult.xml
nunit-*.xml

## SO & Temp
.DS_Store
Thumbs.db
~$*
*~